.wrapper{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    margin-right: 20px;

}
.window{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 90%;
    align-items: center;
    text-align: center;
}
.buttonsArea {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
    align-items: center;
}
.window div:first-child{
    margin-bottom: 5px;
}
input{
    width: 50%;
    text-align: center;
}
